@use "base";
@use "colores";
@use "mixins";

#header{
	background: colores.$colorTema;
	left: 0;
	margin-bottom: mixins.sizeEM(70);
	padding-bottom: mixins.sizeEM(28);
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10;

	@include mixins.mq(base.$screen-sm-plus-min){
		height: mixins.sizeEM(75);
		margin-bottom: mixins.sizeEM(230);
		padding-bottom: 0;
	}	

	.index &{
		@include mixins.mq(base.$screen-sm-plus-min){
			margin-bottom: mixins.sizeEM(380); 
		}
	}
}

#header:after{
	@include mixins.mq(base.$screen-sm-plus-min){
		background-color: colores.$colorTema;
		background-image: url(#{base.$img-root}/fondoCabeceraPortada.avif);
		background-repeat: no-repeat;
		background-position: 50% 40%;
		background-size: (cover);
		content: ' ';
		height: mixins.sizeEM(160);
		left: 0;
		position: absolute;
		right: 0;
		top: mixins.sizeEM(75);
	}

	[data-baseurl=\/trailsamuno] & {
		@include mixins.mq(base.$screen-sm-plus-min){
			background-image: url(#{base.$gh-pages-baseurl}#{base.$img-root}/fondoCabeceraPortada.avif);
		}		
	}

	.index &{
		@include mixins.mq(base.$screen-sm-plus-min){
			height: mixins.sizeEM(380);
		}
	}
}

.index #header {
	&:after{
		@include mixins.mq(base.$screen-sm-plus-min){
			background-size: (cover);
			
			background-position: 50% 50%;
		}
	}
}

header h1{
	@extend %text-replacement;
	
	padding-top: 10px;

	@include mixins.mq(base.$screen-sm-plus-min){
		background: colores.$colorFuente;
		padding-top: 0;
		position: relative;
		overflow: hidden;
		width: 14.012739%;
		z-index: 100;
	}

	& > span {
		display: block;
		margin-bottom: 12px;

		@include mixins.mq(base.$screen-sm-plus-min){
			display: inline;
		}
	}

	.icon{
		transition: (transform base.$animacionMedia ease);
		
		display: block;
		fill: colores.$colorFuente;
		height: 86px;
		margin: 0 auto;
		width: 67px;

		@include mixins.mq(base.$screen-sm-plus-min){
			fill: colores.$colorTema;
			height: 142px;
			margin: 0 auto;
			padding-bottom: 36px;
			width: 48%;
		}
	}
}

header a:hover .icon.tvs-logo {
	transform: scale(1.39) translate(0, 3px);
	transition: (transform base.$animacionRapida ease);
}

header .enlaceBoton{
	@extend %altEnlaceBoton;

	@include mixins.mq(base.$screen-sm-plus-min){
		@include mixins.font-size(15);

		padding-left: 0;
		padding-right: 0;
		position: absolute;
		right: 0;
		text-align: center;
		top: mixins.sizeEM(18, 15);
		width: mixins.anchoPorcentaje(132);	
	}
}

#header .row{
	@include mixins.mq(base.$screen-sm-plus-min){
		position: relative;
	}
}

#header .nombreCarrera{
	@include mixins.font-size(24);

	font-family: base.$fontFamily;
	font-weight: bold;
	line-height: 1.1em;
	margin-bottom: mixins.sizeEM(24, 24);
	text-align: center;

	@include mixins.mq(base.$screen-sm-plus-min){
		@include mixins.font-size(32);

		color: #fff;
		left: mixins.anchoPorcentaje(162);
		position: absolute;
		text-align: left;
		top: mixins.sizeEM(148, 32);
		z-index: 1;
	}
}

.anuncio-permanente {
    background: #e44326e3;
    color: white;
	font-family: base.$fontFamilyBold;
    padding: 0 20px;
	position: fixed;
    right: 10px;
    text-transform: uppercase;
    top: 10px;
    z-index: 3000;
	
	@include mixins.mq(base.$screen-sm-plus-min){
		font-size: 18px;
		padding: 0 100px;
		right: -100px;
		top: 90px;
		transform: rotate(45deg);
	}
}

#header.is-scrolled {
	transition: padding-bottom 0.3s ease-in-out;

	&:after {
		@include mixins.mq(base.$screen-sm-min) {
			content: none;
		}
	}

	h1 > a {
		display: block;
		margin-bottom: 12px;
	}

	.nombreCarrera {
		height: 0;
		margin-bottom: 0;
		overflow: hidden;
		transition: height 0.3s ease-in-out;
	}
	
	.icon.tvs-logo {
		@include mixins.mq(base.$screen-sm-plus-min, max) {
			height: 60px;
			transition: all 0.3s ease-in-out;
			width: 45px;
		}
	}
}