@use "sass:color";
@use "base";
@use "colores";
@use "mixins";

#content{
	margin-bottom: mixins.sizeEM(70);
	margin-top: 290px;
}

.index #content {
	margin-top: 200px;

	@include mixins.mq(base.$screen-sm-plus-min) {
		margin-top: 504px;
	}
}

#content .excerpt{
	@include mixins.mq(base.$screen-sm-min){
		min-height: 40em;
		overflow: hidden;
	}

	.row{
		padding: mixins.sizeEM(87) 0;

		@include mixins.mq(base.$screen-sm-min){
			position: relative;
		}
	}

	a.verRoadbook > .icon{
		position: relative;
		top: 2px;
	}
}

// Estilos para las franjas de la portada
.index #content > .row{
	margin: 0;
	width: 100%;
}

#content .excerpt.alt{
	background-color: colores.$colorTema;
	background-image: url(#{base.$img-root}/curvasNivel.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: (cover);

	[data-baseurl=\/trailsamuno] & {
		background-image: url(#{base.$gh-pages-baseurl}#{base.$img-root}/curvasNivel.svg);
	}

	a.button{
		@extend %altEnlaceBoton;

		margin-bottom: 0;
	}

	h2:after{
		background: colores.$colorFuente;
	}
}

#content .excerpt a.button{
	@include mixins.mq(base.$screen-sm-min){
		margin-left: mixins.anchoPorcentaje(486);
		width: mixins.anchoPorcentaje(294);
	}

	@include mixins.mq(base.$breakpoint-botones-portada){
		width: mixins.anchoPorcentaje(213);
	}
}

#content .excerpt.alt a.button{
	@include mixins.mq(base.$screen-sm-min){
		margin-left: 0;
		width: mixins.anchoPorcentaje(294);		
	}

	@include mixins.mq(base.$breakpoint-botones-portada){
		width: mixins.anchoPorcentaje(213);
	}	
}

#content .excerpt img{
	@include mixins.mq(base.$screen-sm-min){
		left: 0;
		position: absolute;
		top: 0;
		width: mixins.anchoPorcentaje(375);		
	}
}

#content .excerpt p,
#content .excerpt h2{
	@include mixins.mq(base.$screen-sm-min){
		margin-left: mixins.anchoPorcentaje(486);
		width: mixins.anchoPorcentaje(456);
	}
}

#content .excerpt:first-child h2{
	@include mixins.mq(base.$screen-sm-min){
		margin-left: 0;
		width: 100%;
	}
}

#content .excerpt.alt img{
	@include mixins.mq(base.$screen-sm-min){
		left: auto;
		right: 0;
	}
}

#content .excerpt.alt p,
#content .excerpt.alt h2{
	@include mixins.mq(base.$screen-sm-min){
		margin-left: 0;
		width: mixins.anchoPorcentaje(456);
	}
}

// Contacto
.contacto #content{
	ul > li{
		margin-bottom: mixins.sizeEM(base.$lineHeightBasico * 0.5);
	}

	.icon{
		fill: colores.$colorFuente;
		height: mixins.sizeEM(16);
		margin-right: mixins.sizeEM(5);
		position: relative;
		top: 3px;
	}
}
// FIN Contacto

.wikilocMap{
	width: 100%;
}

// Map marker
#content .icon.marker{
	fill: colores.$colorFuente;
	margin-right: mixins.sizeEM(5);
	position: relative;
	top: 3px;
	width: mixins.sizeEM(17);
}

// Patrocinadores
#content .patrocinadores{
	@extend %patrocinadoresGaleria;
}

#content .patrocinadores:after{
	@include mixins.mq(base.$screen-sm-min){
		@include mixins.clearfixAfter;
	}
}

.patrocinadores_colabora ol > li::marker {
	font-size: mixins.sizeEM(24);
}

// Roadbook
#content .svg-container{
	background: colores.$colorTema;
	display: flex;
	justify-content: center;

	> svg {
		max-width: 100%;
	}
}

.carrera_roadbook #content{
	form{
		@include mixins.mq(base.$screen-sm-min, max, width){
			position: sticky;
			position: -webkit-sticky;
			top: 5px;
		}
	}

	#info {
		@include mixins.mq(base.$screen-sm-min, max, width){
			position: sticky;
			position: -webkit-sticky;
			top: 50px;
		}
	}
}

.carrera_roadbook #content > .row{
	position: relative;
}

#content #info{
	background: rgba(#000, .4);
	color: #fff;
	left: 0;
	padding: .5em;
	position: absolute;
	right: 0;

	@include mixins.mq(base.$screen-sm-plus-min){
		box-sizing: (border-box);

		padding: 1em;
		width: mixins.anchoPorcentaje(294);
	}
}

#content form #draw{
	@include mixins.mq(base.$screen-sm-plus-min){
		width: mixins.anchoPorcentaje(213);
	}
}
// FIN Roadbook

// Reglamento
.carrera_reglamento ol > li::marker{
    font-size: 2rem;
    font-family: base.$fontFamily;
	font-weight: bold;
}
// FIN Reglamento

.bloque-destacado {
	background-color: color.adjust(colores.$colorTema, $lightness: 40%, $saturation: -16%);
	padding: 16px;
}

.w-fit {
	width: fit-content;
}
