@use "base";
@use "colores";
@use "mixins";

#main-nav{
	@include mixins.font-size(15);
	
	color: colores.$colorFuente;
	display: none;
	font-family: base.$fontFamilyLight;
	padding-top: 2.5em;

	@include mixins.mq(base.$screen-sm-plus-min){
		display: block;
		left: mixins.anchoPorcentaje(323);
		padding-top: mixins.sizeEM(25,15);
		position: absolute;
		top: 0;
		width: mixins.anchoPorcentaje(456);		
	}
}

#main-nav a{
	color: colores.$colorEnlaceMenu;
	text-decoration: none;
}

#main-nav ul{
	list-style: none;
	margin: 0;
	padding-left: 0;
}

#main-nav > ul{
	@include mixins.mq(base.$screen-sm-plus-min){
		display: flex;
		justify-content: space-between;
	}
}

#main-nav > ul > li{
	font-family: base.$fontFamily;
	margin-bottom: mixins.sizeEM(base.$lineHeightBasico * 1.75);

	@include mixins.mq(base.$screen-sm-plus-min){
		float: left;
	}

	> a{
		@extend %opcionPrincipalMenu;

		&:after{
			@extend %separadorAfter;

			@include mixins.mq(base.$screen-sm-plus-min){
				bottom: mixins.sizeEM(-24, 15);
			}
		}

		&:hover:after{
			@extend %separadorHoverAfter;
		}
	}

	&.active > span{
		@extend %opcionPrincipalMenu;

		&:after{
			@extend %separadorAfter;
			@extend %separadorHoverAfter;

			bottom: mixins.sizeEM(-24, 15);
		}
	}

	li{
		@include mixins.font-size(16);
		font-family: base.$fontFamilyLight;
	}

	li > a{
		display: inline-block;
		white-space: nowrap;

		@include mixins.mq(base.$screen-sm-plus-min){
			color: colores.$colorTema;
			padding: .25em 2em;
		}

		&:after{
			@extend %separadorAfter;

			height: 1px;
			position: static;
			width: 0;

			@include mixins.mq(base.$screen-sm-plus-min){
				background: colores.$colorTema;
			}
		}

		&:hover:after{
			@extend %separadorHoverAfter;
		}
	}
}

#main-nav ul ul{
	line-height: 1.6em;

	@include mixins.mq(base.$screen-sm-plus-min){
		background: colores.$colorFuente;
		display: none;
		padding: 1.5em 0;
		position: absolute;
		top:75px;
		z-index: 100;
	}

	> li.active > span{
		@include mixins.mq(base.$screen-sm-plus-min){
			color: colores.$colorTema !important;
			padding: .25em 2em;
		}	
	}
}

.active > span{
	font-family: base.$fontFamily;
	font-weight: bold;
	white-space: nowrap;	
}

// ---- Mobile menu
#mobileMenu{
	background: colores.$colorTema;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;

	@include mixins.mq(base.$screen-sm-plus-min){
		display: none;
	}
}

#mobileMenu .openCloseButton{
	background: colores.$colorTema;
	border: 0;
	left: 2em;
	padding-left: 0;
	padding-right: 0;
	position: absolute;
	top: 16px;
	z-index: 101;

	b{
		color: colores.$colorFuente;
		font-weight: normal;
		display: block;
		margin-top: 8px;
	}

	.icon{
		transition: (background base.$animacionMedia ease);

		background: colores.$colorFuente;
		height: 3px;
		width: 40px;

		&:before,
		&:after{
			transform: translateY(-10px);
			transition: (transform base.$animacionMedia ease);

			background: colores.$colorFuente;
			content: '';
			display: block;
			height: 3px;
			width: 40px;
		}

		&:after{
			transform: (translateY(7px));
		}		
	}
}

#mobileMenu.openedMenu .icon:before{
	transform: (translateY(0) rotate(45deg));
	transition: (transform base.$animacionRapida ease);
}

#mobileMenu.openedMenu .icon{
	transition: (background base.$animacionRapida ease);
	background: rgba(colores.$colorFuente, 0);
}

#mobileMenu.openedMenu .icon:after{
	transform: (translateY(-3px) rotate(-45deg));
	transition: (transform base.$animacionRapida ease);
}


#mobileMenu .closeButton{
	display: none;
	position: absolute;
	right: 0;
	top: 0;
}

#mobileMenu .clonedMenu{
	box-shadow: 0 0 12px rgba(#000, .25);
	background: colores.$colorTema;
	padding: 6em 2em 2em;
	position: relative;
	z-index: 100;
}

#header.is-scrolled #mobileMenu .clonedMenu {
	height: calc(100vh - 60px);
	overflow-y: auto;
}

#header.is-scrolled #mobileMenu nav#main-nav:before {
    content: "";
    display: block;
    width: 100%;
    height: 5em;
    position: fixed;
    background: colores.$colorTema;
    top: 0;
	z-index: 10;
}