@use "base";
@use "colores";
@use "mixins";

#third-level-nav{
	box-sizing: (border-box);

	background: colores.$colorTema;//adjust-color($colorTema, $saturation:-40, $lightness: 35);
	padding: 1.5em;
	margin-bottom: mixins.sizeEM(base.$lineHeightBasico);

	@include mixins.mq(base.$screen-sm-min){
		float: right;
		position: sticky;
		top: mixins.sizeEM(290);
		width: mixins.anchoPorcentaje(213);
	}
	
	ul{
		margin: 0;
	}
	
	ul li{
		list-style: none;
	}

	ul a{
		@include mixins.font-size(16);

		text-decoration: none;

		&:hover{
			text-decoration: underline;
		}
	}

	ul .active span{
		@include mixins.font-size(16);
		
		font-family: base.$fontFamilyBold;		
	}
}

#third-level-nav + #content-block,
#third-level-nav + main > #content-block {
	@include mixins.mq(base.$screen-sm-min){
		margin-right: mixins.anchoPorcentaje(213 + 30);
	}
}