@use "sass:math";
@use "base";
@use "colores";

%subtle-shadow{
	box-shadow: 2px 2px 6px colores.$colorSombra;
} 

%clearfixAfter{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

@mixin clearfixAfter{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

// Reseteo de los estilos para las etiquetas, especialmente cuando se usa Primefaces
%cleanLabel{
	text-align: left;
	width: auto;
	float: none;

	&:after{
		content: '';
	}
}

/* http://www.sitepoint.com/new-css-image-replacement-technique/ */
%text-replacement{
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	
	// Éstos ya no están sacados de sitepoint, pero se acaban utilizando siempre :)
	background-repeat:no-repeat;
	background-position:left top;
	display:block;	
}

@mixin font-size($pixels: base.$fontSizeBasico){
	font-size:$pixels*1px;
	font-size:math.div($pixels, base.$fontSizeBasico)*1rem;
}

@function anchoPorcentaje($pix, $totalWidth:base.$anchoTotalPX){
	@return math.div($pix*100, $totalWidth)*1%;
}

@function sizeEM($pix, $fontSize:base.$fontSizeBasico){
	@return math.div($pix, $fontSize)*1em;
}

@mixin margenMenu{
	@if $floatMenu == left {
		margin:0 0 0 ((base.$anchoTotalPX*$porcentajeMargenContenidosParaMenu)/base.$fontSizeBasico)*1em;
	}
	@else if $floatMenu == right{
  		margin:0 (((base.$anchoTotalPX*$porcentajeMargenContenidosParaMenu)/base.$fontSizeBasico)*1em) 0 0;
  	}
	@else{
		margin:0;
	}
}

/* Sombra para inputs text, textareas y combos */
%inputs{
	border:1px solid colores.$colorBordeInputs;
	background:#f4f4f4;
	outline:none;
	
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2);

	/* Para que funcione en IE9 */
	border-collapse: separate;	
}

/* Stuart Robson's mobile-first, retro-compatible and 
	manteinable	media query mixin 

	http://alwaystwisted.com/post.php?s=2013-04-01-my-media-query-mixin

	Con ligera modificación para adaptarse a nuestro
	entorno de trabajo, básicamente para adaptarse a las 
	classes que utiliza Liferay en función del navegador y
	nuestras propias variables
*/

@mixin mq($point, $query1: min, $query2: width) {
	@media screen and (#{$query1}-#{$query2}: (math.div($point, base.$fontSizeBasicoMQ)+em)) {
		@content;
	}
}


/* Retinize de Dan Cederholm */
$is-hidpi: "(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5),(min-resolution: 1.5dppx)";

@mixin retinize($file, $type, $width, $height) {
  background-image: url(base.$img-root + '/' + $file + '.' + $type);
 
  @media #{$is-hidpi} {
    & {
      background-image: url(base.$img-root + '/' + $file + '-2x.' + $type);
      background-size: ($width $height);
    }
  }
}

// https://gist.github.com/menslow/6600454
// text-size-adjust
//------------------------------------------------

//
// Values: none (default), auto, 100%
//
// Reference:
// https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust
//

@mixin text-size-adjust($value: none) {
  -webkit-text-size-adjust: $value; 
  //-moz-text-size-adjust: $value; --> Comentada esta línea para que el resultado sea idéntico a normalize.css de Bootstrap
  -ms-text-size-adjust: $value; 
}

/* Ancho de los contenidos */
%row{
	margin: 0 2em;

	@include mq(base.$screen-md-min){
		margin: 0 auto;
		width: sizeEM(942);
	}
}

// ------------- Mixins menú
%separadorAfter{
	transition: (width base.$animacionMedia ease);
	background: colores.$colorFuente;
	bottom: -1em;
	content: "";
	display: block;
	height: 4px;
	position: relative;
	width: 30px;

	@include mq(base.$screen-sm-plus-min){
		width: 0;
	}
}

%separadorHoverAfter{
	transition: (width base.$animacionRapida ease);

	width: 100%;	
}
// ------------- FIN Mixins menú

// -- Final inclinado
%finalInclinado{
	&::after {
		background-color: white;
		bottom: -22%;
		content: "";
		display: block;
		height: 200px;
		left: -29%;
		position: absolute;
		transform: rotate(-11.2deg);
		transition: all 1.4s ease 0s;
		width: 200%;
		z-index: 1;
	}
}

// -- fIN Final inclinado

/* Aspecto general de los botones, tambien para enlaces con estilo de boton */
%enlaceBoton{
	border-radius: (4px);
	box-sizing: (border-box);
	transition: (background-color base.$animacionMedia ease, color base.$animacionMedia ease, box-shadow base.$animacionMedia ease);
	appearance: (none);

	background: colores.$colorTema;
	border:0;	
	color: colores.$colorFuente;
	display: block;
	font-family:base.$fontFamilyLight;	
	font-size:base.$fontSizeBotones;	
	font-weight:normal;
	line-height: sizeEM(base.$lineHeightBasico);
	margin-bottom: sizeEM(base.$lineHeightBasico);
	padding: sizeEM(9, 18) sizeEM(30, 18);
	text-align: center;
	text-decoration: none;
	width: 100%;
	
	@include mq(base.$screen-sm-min){
		width: auto;
	}

	&:hover{
		transition: (background-color base.$animacionRapida ease, color base.$animacionRapida ease);

		cursor:pointer;
		background: colores.$colorFuente;
		color: colores.$colorTema;
	}
	
	&:active{
		box-shadow: inset 0 3px 5px rgba(#000, .25);
		transition: (background-color base.$animacionRapida ease, color base.$animacionRapida ease, box-shadow base.$animacionRapida ease);
	}

	&[disabled]{
		opacity: (.5);
	}

	&[disabled]:active{
		box-shadow: none;
	}

	&[disabled]:hover{
		background:colores.$colorTema;
		color: colores.$colorFuente;
		cursor:default;
	}

	.icon{
		height: sizeEM(13);
		margin-right: .26em;
		width: sizeEM(13);
	}

	.icon{
		transition: (fill base.$animacionMedia ease);

		fill: colores.$colorFuente;
	}

	&:hover .icon{
		transition: (fill base.$animacionRapida ease);

		fill: colores.$colorTema;
	}
}

%altEnlaceBoton{
	@extend %enlaceBoton;

	background: colores.$colorFuente;
	border: 2px solid colores.$colorFuente;
	color: colores.$colorTema;
	padding: sizeEM(5, 18) sizeEM(26, 18);

	&:hover{
		background: colores.$colorTema;
		color: colores.$colorFuente;
	}

	&:active{
		box-shadow: inset 0 3px 4px rgba(#000, .12);
	}

	&[disabled]:hover{
		background:colores.$colorFuente;
		color: colores.$colorTema;
	}

	.icon{
		fill: colores.$colorTema;
	}

	&:hover .icon{
		fill: colores.$colorFuente;
	}	
}

%opcionPrincipalMenu{
	@include font-size(24);

	display: inline-block;
	margin-bottom: sizeEM(22, 24);
	padding-bottom: 1em;
	text-transform: uppercase;

	@include mq(base.$screen-sm-plus-min){
		@include font-size(15);

		font-family: base.$fontFamilyLight;
		text-transform: none;
	}
}

%patrocinadoresGaleria{
	list-style: none;
	margin-left: 0;
	
	> li{
		margin-bottom: sizeEM(base.$lineHeightBasico * 1.5);

		@include mq(base.$screen-xs-min){
			margin: 0 auto sizeEM(base.$lineHeightBasico * 2);
			width: sizeEM(213);
		}

		@include mq(base.$screen-sm-min){
			float: left;
			margin-left: anchoPorcentaje(30);
			width: anchoPorcentaje(213);
		}
	}

	>li:nth-of-type(4n+1){
		@include mq(base.$screen-sm-min){
			margin-left: 0;
		}
	}
	
	> li > a,
	> li > span{
		display: block;
	}

	> li > a > img,
	> li > span > img{
		transition: (opacity base.$animacionRapida ease);

		max-width: 100%;
		vertical-align: top;
	}

	> li > a:hover > img{
		transition: (opacity base.$animacionMedia ease);

		opacity: 0.5;
	}	
}

%tituloPrincipalContenido {
	@include font-size(48);	
	
	font-family: base.$fontFamilyBold;
	line-height : 1.1em;
	font-weight: normal;
	color: colores.$colorFuente;
	margin-bottom: sizeEM(40, 48);
	padding-bottom: sizeEM(24, 48);
	position: relative;

	&:after{
		background: colores.$colorTema;
		content: " ";
		display: block;
		height: 4px;
		position: absolute;
		bottom: -4px;
		width: 50px;
	}		
}

%tituloSecundarioContenido {
	@include font-size(28);
	
	font-family: base.$fontFamily;
	font-weight: bold;
	margin-bottom:sizeEM(12, 28);
	padding-bottom: 0;
	line-height:1.1em;	
	text-transform: uppercase;
	
	&:not(:first-child) {
		margin-top: 1.25em;
	}

	&:after {
		content: none;
	}
}