@use "base";
@use "colores";
@use "mixins";

footer{
	background: colores.$fondoPie;
	clear: both;
	color: colores.$colorPie;
	padding: 4em 0;
	
	a{
		transition: (color base.$animacionMedia ease);
		
		color: colores.$colorEnlacesPie;
		text-decoration: none;
		
		&:hover{
			transition: (color base.$animacionRapida ease);
			
			color: colores.$colorHoverEnlacesPie;
		}
	}	

	.row{
		@include mixins.mq(base.$screen-sm-min){
			position: relative;
		}
	}
}

footer .cumbre{
	margin-bottom: 2.5em;
	text-align: center;

	@include mixins.mq(base.$screen-sm-min){
		float: left;
		height: mixins.sizeEM(68);
		margin-bottom: 0;
		margin-right: 0;
		width: 5.414012%;
	}
}

footer .cumbre a{
	@extend %text-replacement;

	display: inline-block;

	.u-fill,
	.u.border,
	.topDash-fill,
	.topDash-border{
		transition: (fill base.$animacionMedia ease, stroke base.$animacionMedia ease);
	}

	&:hover .u-fill{
		transition: (fill base.$animacionRapida ease);

		fill: #aaa;
	}

	&:hover .u-border{
		transition: (stroke base.$animacionRapida ease);

		stroke: #aaa;
	}

	&:hover .topDash-fill{
		transition: (fill base.$animacionRapida ease);

		fill: colores.$colorTema;
	}

	&:hover .topDash-border{
		transition: (stroke base.$animacionRapida ease);

		stroke: colores.$colorTema;
	}
}

footer .cumbre .cumbre-logo{
	height: 68px;
	width: 51px;
}

footer .contact{
	list-style: none;
	margin-bottom: 1.5em;
	padding-left: 0;
	text-align: center;
	
	@include mixins.mq(base.$screen-sm-min){
		margin-left: 8.598726%;
		text-align: left;
		width: 22.611465%;
	}

	> li {
		margin-bottom: 1px;
	}

	a {
		display: inline-block;
		padding: 1px 0;
	}

	.tvs{
		@include mixins.font-size(16);
		
		font-family: base.$fontFamily;
		font-weight: bold;
		text-transform: uppercase;
	}
}

footer .social{
	margin-bottom: mixins.sizeEM(base.$lineHeightBasico*2);
	text-align: center;
	
	@include mixins.mq(base.$screen-sm-min){
		text-align: left;
	}	
}

footer .social > ul{
	list-style: none;
	margin-bottom: 0;
	margin-top: 0;
	padding-left: 0;

	> li{
		display: inline-block;
	}

	> li + li{
		margin-left: 1.75em;
	}

	a{
		@extend %text-replacement;
	}

	a .icon{
		fill: #dfdfdf;
		height: 20px;
		transition: (fill base.$animacionMedia ease);
		width: 20px;

		@include mixins.mq(base.$screen-sm-min) {
			fill: #959595;
		}
	}

	a .icon:hover{
		fill: #dfdfdf;
		transition: (fill base.$animacionRapida ease);
	}
}

footer .sellos{
	list-style: none;
	padding-left: 0;
	text-align: center;
	
	> li {
		margin-bottom: 1em;
		
		@include mixins.mq(base.$screen-xs-min){
			display: inline-block;
			margin-bottom: 0;
		}
	}
	
	> li + li {
		@include mixins.mq(base.$screen-xs-min){
			margin-left: 1.5em;
		}
	}

	@include mixins.mq(base.$screen-sm-min){
		position: absolute;
		right: 0;
		top: -15px;	// Para alinear el texto del logo con el de la parte izquierda
	}
	
	a,
	span{
		@extend %text-replacement;
	}
	
	.homologada-fempa{
		height: 85px;
		width: 178px;
	}
	
	.langreocalidadturistica,
	.nortrail {
		svg {
			fill: #eee;
			height: 85px;
			width: 85px;
			
			&:hover{
				fill: #fff;
			}
		}
	}
	
	.nortrail svg{
		width: 56px;
	}
}