---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

const noticias = await getCollection('noticias');
const noticiasOrdenadas = noticias.sort((a, b) => new Date(b.data.date) - new Date(a.data.date));
---

<Layout>
  <h1>Noticias</h1>
  <section class="listado-noticias">
    {noticiasOrdenadas.map((noticia) => (
      <article>
        <h2>
          <span class="listado-noticias__fecha">{ noticia.data.date.toLocaleDateString('es-ES') }</span>
          <a href={`/noticias/${noticia.slug}`} title="Ir al detalle de la noticia" class="listado-noticias__titular">{noticia.data.title}</a>
        </h2>
      </article>
    ))}
  </section>
</Layout>
