---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import ListadoNoticias from '../../components/ListadoNoticias.astro';

const noticias = await getCollection('noticias');
const noticiasOrdenadas = noticias.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());

const title = "Noticias"
const h1 = "Noticias";
---

<Layout title={title} h1={h1}>
  <h1>Noticias</h1>
  <ListadoNoticias listadoNoticias={noticiasOrdenadas} />
</Layout>
