---
import Layout from "../../layouts/Layout.astro";

const title = "Colabora";
const h1 = "Colabora con el evento";
---

<Layout title={title} h1={h1}>
	<div id="content-block">
		<h2>Colabora con el Trail Valle de Samuño</h2>
        <p>
            El Trail Valle de Samuño es mucho más que una carrera: es una celebración del deporte, la naturaleza y la historia minera de Asturias. Con 800 participantes anuales y un fuerte compromiso social, somos una plataforma ideal para que tu marca crezca junto a una comunidad apasionada y en expansión.
        </p>

        <h3>¿Por qué colaborar?</h3>
        <ol>
            <li>
                <h4>Visibilidad creciente y consolidada</h4>
                <ul>
                    <li>El TVS ha experimentado un notable crecimiento desde su inicio en 2016, pasando de 116 participantes hasta los 800 inscritos en su séptima edición (el máximo permitido en un espacio protegido como el Paisaje Protegido de las Cuencas Mineras, por donde discurre la carrera).</li>
                    <li>Cada año los dorsales se agotan en menos tiempo: desde 2022 hemos pasado de 2 semanas a 52h para colgar el cartel de lleno.</li>
                    <li>La carrera ha estado incluida en la Copa de Asturias en varias ocasiones y ha sido Campeonato de Asturias en línea, lo que garantiza una amplia cobertura mediática y una participación de corredores de alto nivel.</li>
                </ul>
            </li>
            <li>
                <h4>Compromiso con el entorno y la comunidad</h4>
                <ul>
                    <li>El evento se celebra en el Paisaje Protegido de las Cuencas Mineras, destacando el patrimonio natural e industrial de Langreo, como el Ecomuseo Minero y el Socavón Emilia.</li>
                    <li>Se promueve el respeto al medio ambiente, evitando el uso de materiales desechables y fomentando la sostenibilidad en todas las actividades.</li>
                </ul>
            </li>
            <li>
                <h4>Apoyo a la economía local</h4>
                <ul>
                    <li>La organización prioriza la colaboración con negocios locales para la adquisición de materiales y servicios necesarios para la carrera, fortaleciendo así la economía del concejo de Langreo y alrededores.</li>
                </ul>
            </li>
            <li>
                <h4>Valores de inclusión y deportividad</h4>
                <ul>
                    <li>El TVS es una carrera de marcado carácter popular que da la misma importancia a todos los corredores, independientemente de su nivel, fomentando la práctica deportiva y la solidaridad entre participantes y voluntarios.</li>
                </ul>
            </li>
            <li>
                <h4>Oportunidades de marketing y fidelización</h4>
                <ul>
                    <li>Todos los colaboradores recibirán la pegatina de establecimiento colaborador y cartel de carrera que podrán colocar en su negocio para mostrar su apoyo al evento.</li>
                    <li>El negocio estará presenta en nuestras comunicaciones en redes sociales con un alcance significativo de usuarios.</li>
                    <li>Los patrocinadores tienen la posibilidad de incluir obsequios personalizados en las bolsas del corredor.</li>
                    <li>La presencia en materiales promocionales y en la comunicación del evento ofrece una plataforma efectiva para aumentar la visibilidad de las marcas asociadas.</li>
                </ul>
            </li>
        </ol>

        <h3>En resumen</h3>
        <p>Patrocinar el Trail Valle de Samuño significa asociarse a un evento que combina deporte, cultura, sostenibilidad y comunidad. Es una oportunidad para que las marcas demuestren su compromiso con valores positivos y obtengan una visibilidad significativa en un entorno auténtico y en crecimiento.</p>
        <p>Si deseas más información o explorar oportunidades de patrocinio, puedes contactar con la organización a través del correo <a class="button alt fit-content" style="word-break: break-word; margin: 1em 0" href="mailto:trailvallesamuno@gmail.com" title="Escribir correo a la organización"><svg class="icon email" style="position: relative; top: 2px;">
            <use xlink:href="/svg/map.svg#email"></use>
        </svg>trailvallesamuno@gmail.com</a></p>
    </div>
</Layout>
