---
import Layout from "../../layouts/Layout.astro";

const title = "Reconocimientos";
const h1 = "Premios y reconocimientos recibidos";
---

<Layout title={title} h1={h1}>
	<div id="content-block">
		<h2>Reconocimientos</h2>
		<p>A lo largo de estos a침os hemos visto recompensado nuestro esfuerzo con varios galardones de diversos tipos.</p>
		<h3>1x游볞 Campeonato y 3x游끥 Copas de Asturias de carreras de monta침a</h3>
		<p>Desde su segunda edici칩n, la Federaci칩n de Monta침a del Principado de Asturias ha confiado en el Trail Valle de Samu침o para formar parte de la Copa de Asturias de Carreras de Monta침a. Se trata de un selecto circuito compuesto por varias pruebas donde los participantes van sumando puntos en funci칩n de sus puestos en meta. En 2024, tras varios intentos, logramos ser elegidos como sede del Campeonato de Asturias de Carreras de monta침a.</p>
		<h3 id="calidadTuristica2019">Calidad tur칤stica de Langreo (2019)</h3>
		<figure class="fotoDerecha estrecha figure">
			<a href="../images/informacion/calidadturisticalangreo.png" title="Ampliar" class="gallery">
				<img style="max-height: 125px" src="../images/informacion/calidadturisticalangreo.png" class="figure-img" alt="Langreo Calidad Tur칤stica">
			</a>
		</figure>
		<p>En el a침o 2019 el Ayuntamiento de Langreo lanz칩 una marca de Calidad Tur칤stica con el fin de destacar la labor de museos, establecimientos de hosteler칤a y eventos culturales y deportivos en 치mbitos como la sostenibilidad, calidad y excelencia en el trato a los usuarios. 
		Entre los eventos acreditados se encontraba el Trail Valle de Samu침o principalmente por ser un evento que trasciende lo meramente deportivo aunando adem치s aspectos tur칤sticos y culturales (Ecomuseo Minero Valle de Samu침o), naturales (la mayor parte del recorrido transcurre por el Paisaje Protegido de las Cuencas Mineras) y sociales (poniendo en valor un pueblo como La Nueva que ha perdido mucha poblaci칩n en las 칰ltimas d칠cadas).
		Para la organizaci칩n supuso un espaldarazo a su filosof칤a de evento polifac칠tico y de promoci칩n de la parte verde de un concejo t칤picamente asociado a lo industrial.
		</p>
		<h3 id="nortrail2017">Mejor carrera hasta 25km (2017)</h3>
		<figure class="fotoIzquierda estrecha figure">
			<a href="../images/informacion/premiosnortrail2017.png" title="Ampliar" class="gallery">
				<img style="max-height: 125px" src="../images/informacion/premiosnortrail2017.png" class="figure-img" alt="Nortrail: Mejor carrera de hasta 25KM 2017">
			</a>
		</figure>	
		<p>En el a침o 2017 la revista digital especializada Nortrail (ya desaparecida) lanz칩 a los corredores y clubes del norte de Espa침a su encuesta anual para elegir las mejores carreras y atletas, resultando ganador, contra todo pron칩stico, el Trail Valle de Samu침o como mejor carrera de menos de 25KM. 
		Para la organizaci칩n supuso una enorme satisfacci칩n este inesperado reconocimiento por parte del p칰blico, siendo muy emocionante la recogida en la ceremonia de entrega. 
		</p>
	</div>
</Layout>