.cookie-banner {
    background: rgba(0,0,0, 0.9);
    bottom: 0;
    color: #fff;
    font-size: 16px;
    padding: 3rem 1rem;
    position: fixed;
    text-align: center;
    width: calc(100% - 2rem);
    z-index: 10000;
}

.cookie-actions,
.cookie-preferences {
    button {
        @extend %enlaceBoton;

        font-size: 16px;

        @include mq($screen-sm-min) {
            display: inline-block;
        }
    }
}

.cookie-preferences {
    margin-top: 1rem;
    
    @include mq($screen-sm-min) {
        align-items: baseline;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    button {
        margin-top: 12px;

        @include mq($screen-sm-min) {
            width: auto;
        }
    }
}

.cookie-preferences label {
    margin: 5px 12px 5px 0;
}
