.listado-noticias {
    &__fecha {
        display: block;
    }
}

.noticias .listado-noticias {
    @include mq($screen-md-min) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__noticia {
            width: 30%;
        }        
    }
}