@use "../base";
@use "../colores";
@use "../mixins";

#content .noticias-portada {
    margin-bottom: mixins.sizeEM(48);

    article {
        position: relative;
        margin-bottom: 16px;
    }

    img {
        height: auto;
        width: 100%;
    }

    h3 {
        @include mixins.mq(base.$screen-sm-min) {
            bottom: 48px;
            color: #fff;
            left: 48px;
            margin-bottom: 0;
            position: absolute;
            right: 48px;
            text-shadow: 0 2px 6px rgba(0,0,0,.25);
        }        
    }

    &__link-titular {
        font-family: base.$fontFamilyBold;
        text-transform: none;
        text-decoration: none;

        @include mixins.mq(base.$screen-sm-min) {
            color: #fff;
            
            &:hover {
                color: #fff;
                text-decoration: underline;
                text-decoration-color: colores.$colorTema;
                text-decoration-thickness: 3px;
            }
        }
    }

    .button {
        @include mixins.mq(base.$screen-sm-min) {
            width: fit-content;
        }
    }
}