@use "../base";
@use "../colores";
@use "../mixins";

.noticias #content{
	h1 {
		@extend %tituloPrincipalContenido;
	}

	h2 {
		@extend %tituloSecundarioContenido;
	}
}

.detalle-noticia__fecha {
	font-family: base.$fontFamilyBold;
}

.listado-noticias {
	&__fecha {
		font-family: base.$fontFamilyLight;
		font-size: 18px;
	}

	&__link-titular {
		text-transform: none;
	}
}

.listado-noticias {
    &__fecha {
        display: block;
    }  
}

.noticias #content .listado-noticias,
.noticias #content .mas-noticias .listado-noticias {
    @include mixins.mq(base.$screen-md-min) {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        justify-content: flex-start;
    }

    &__noticia {
        @include mixins.mq(base.$screen-md-min) {
            width: calc(33.33% - 3rem);
        }
    }    

    &__link-titular {
        font-family: base.$fontFamilyBold;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            text-decoration-color: colores.$colorTema;
            text-decoration-thickness: 3px;
        }
    }    
}

.noticias #content .listado-noticias .listado-noticias__titular {
    margin: 0 0 1.75em;

    @include mixins.mq(base.$screen-md-min) {
        margin: 0;
    }
}
