.race-list {
    @include mq($screen-sm-min) {
        display: flex;
        justify-content: space-between;
    }
}

#content .race-card {
    margin-bottom: 32px;

    @include mq($screen-sm-min) {
        width: 30%;
    }

    &__name {
        display: inline-block;
        font-family: $fontFamilyBold;
        font-size: 32px;
        line-height: 1.1em;
        margin-right: 8px;
    }

    &__sponsor {
        display: inline-block;
    }

    &__data {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        dl {
            width: 50%;
        }

        dt {
            display: block;
            float: none;
            font-size: 12px;
            font-weight: 400;
        }

        dd {
            font-size: 18px;
            font-weight: bold;
        }
    }

    footer {
        background: transparent;
        padding: 0;
    }

    footer .button {
        margin-left: 0;
        width: auto;
    }
}