---
import Layout from "../../layouts/Layout.astro"

const title = "Ecomuseo Valle de Samuño";
const h1 = "Información sobre el Ecomuseo Valle de Samuño, sede del trail running asturiano durante un día al año";
---

<Layout title={title} h1={h1}>
	<div id="content-block">
		<h2>Ecomuseo Minero del Valle de Samuño</h2>
		<figure class="fotoDerecha figure">
			<a href="../images/ecomuseo/ecomuseo01.jpg" title="Ampliar" class="gallery">
				<img src="../images/ecomuseo/ecomuseo01.jpg" class="figure-img" alt="Tren del Ecomuseo aproximándose a la entrada del Túnel bajo el Pozo Samuño. Fuente: Flor María Menéndez (Wikimedia)" />
			</a>
			<figcaption class="pieFoto figure-caption">
				Tren del Ecomuseo aproximándose a la entrada del Túnel bajo el Pozo Samuño. Fuente: Flor María Menéndez (<a href="https://commons.wikimedia.org/wiki/File:Tren_minero.JPG" title="Ir a la web de Wikimedia">Wikimedia</a>)
			</figcaption>
		</figure>		
		<p>El <a href="http://www.ecomuseominero.es/" title="Ir a la web del Ecomuseo">Ecomuseo Minero del Valle de Samuño</a> se levanta sobre el antiguo <em>Pozo San Luis</em>, cuyo cierre en 2002 marcó el final de una era para la minería en Langreo. Con un entorno industrial único y bien conservado, se convirtió en un ejemplo destacado de recuperación del patrimonio minero asturiano, siendo declarado Bien de Interés Cultural en 2013.</p>

		<p>Gracias a una inversión cercana a los 10 millones de euros y al trabajo de Escuelas Taller y programas de empleo, hoy el ecomuseo ofrece una experiencia inolvidable: un viaje en un auténtico tren minero desde El Cadavíu hasta las entrañas del pozo, atravesando galerías reales de mina utilizadas en la actividad extractiva.</p>

		<p>Durante el Trail Valle de Samuño, el ecomuseo se convierte en el corazón de la actividad deportiva. Si participas en la carrera, o acompañas a alguien que lo haga, te animamos a que no pierdas la oportunidad de conocer este lugar único. Es el complemento perfecto para un fin de semana de deporte, cultura y naturaleza en Langreo.</p>

		<p>Combina la emoción del trail con el descubrimiento del patrimonio industrial asturiano. Porque el Ecomuseo no solo es un museo, es un viaje al pasado... ¡y está a solo unos pasos de la meta!</p>
	</div>
</Layout>
