---
import Layout from "../../layouts/Layout.astro"

const title = "Langreo";
const h1 = "Langreo, nuestro municipio";
---

<Layout title={title} h1={h1}>
	<div id="content-block">
		<h2>Langreo</h2>
		<figure class="fotoDerecha figure">
			<a href="../images/langreo/langreo.jpg" title="Ampliar" class="gallery">
				<img src="../images/langreo/langreo.jpg" class="figure-img" alt="Vistas de Langreo desde la parte final del trail" />
			</a>
		</figure>		
		<p>El <strong>Valle de Samuño</strong>, sede de nuestra carrera de <strong>trail running</strong>, se encuentra en el municipio de Langreo, en pleno corazón de Asturias y en el centro de la histórica <em>Cuenca Minera del Nalón</em>. Este entorno, marcado por un rico patrimonio industrial y paisajes montañosos únicos, es ideal para la práctica del deporte al aire libre.</p>		
		<p>Langreo cuenta con una geografía privilegiada para la celebración de carreras de montaña. Sus valles secundarios, como el de Samuño, y su relieve escarpado ofrecen recorridos exigentes y espectaculares, lo que lo convierte en un enclave ideal para eventos deportivos de este tipo. Además de nuestro trail, el concejo acoge otras pruebas a lo largo del año, lo que refuerza su papel como destino deportivo en la región.</p>
		<p>Tras el cierre del <em>Pozo María Luisa</em>, el último activo de Langreo, el concejo ha apostado por la recuperación y puesta en valor de su patrimonio minero e industrial, transformándolo en recursos culturales y turísticos como el <a href="entorno/ecomuseo" title="Ver información sobre el Ecomuseo">Ecomuseo Minero Valle de Samuño</a>. Esta transformación también ha favorecido la creación de eventos que combinan naturaleza, deporte y cultura, como nuestro trail.</p>
		<p>Participar en el Trail Valle de Samuño no solo supone un reto deportivo, sino también una oportunidad única de conocer la historia, el paisaje y el patrimonio de Langreo, un concejo que mira al futuro a través de la sostenibilidad, el deporte y el turismo cultural.</p>
	</div>
</Layout>
