---
import Layout from "../layouts/Layout.astro";

const title = "Juego";
const h1 = "Juego Samu침o Runner"
---
<Layout title={title} h1={h1}>
	<div id="content-block">
		<h2>Samu침o runner</h2>
		<p>춰Esquiva los obst치culos y consigue la m치xima puntuaci칩n!</p>
		<a class="enlaceBoton" href="https://guitarranalon.github.io/samuno-runner/" title="Ir a jugar al Samu침o runner">Jugar</a>
		<br />
		<h3>Ranking provisional (29/01/2025)</h3>
		<table>
			<thead>
				<tr>
					<th>Pos.</th>
					<th>Usuario</th>
					<th>Puntos</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>游볞</td>
					<td>@guillermo19041980</td>
					<td>17852</td>
				</tr>
				<tr>
					<td>游볟</td>
					<td>@sainero</td>
					<td>10041</td>
				</tr>
				<tr>
					<td>游볠</td>
					<td>@chusiperezhuerta</td>
					<td>8247</td>
				</tr>
			</tbody>
		</table>
		<ul>
			<li><b>(29/01/2025)</b> @guillermo19041980 da un pu침etazo encima de la mesa, una puntuaci칩n que ser치 muy dif칤cil de superar</li>
			<li><b>(23/01/2025)</b> @guillermo19041980 sigue liderando pero sus principales seguidores, @sainero y @chusiperezhuerta le van recortando distancia. Se aprieta la clasificaci칩n, con el margen que hay se prev칠 un final muy emocionante 游눢游눢 </li>
			<li><b>(22/01/2025)</b> Llegamos a las 5 cifras, una marca dif칤cil de superar, 춰pero no hay nada imposible! 쮿e o칤do 15K?</li>
			<li><b>(21/01/2025)</b> Spoiler: estos son los 3 primeros clasificados, pero ya hemos visto capturas con m치s puntos que a칰n no se han publicado. Ninguna llega a las 5 cifras (>10.000 ptos). 쯉er칤as capaz de conseguirlo? 游댠游댠</li>
		</ul>
	</div>
</Layout>
