---
import Layout from "../layouts/Layout.astro";

const title = "Juego";
const h1 = "Juego Samuño Runner"
---
<Layout title={title} h1={h1}>
	<div id="content-block">
		<h2>Samuño runner</h2>
		<p>¡Esquiva los obstáculos y consigue la máxima puntuación!</p>
		<a class="enlaceBoton" href="https://guitarranalon.github.io/samuno-runner/" title="Ir a jugar al Samuño runner">Jugar</a>
	</div>
</Layout>
