---
import Layout from "../layouts/Layout.astro";

const title = "Tests";
const h1 = "Zona de pruebas"
---
<Layout title={title} h1={h1}>
    <div id="content-block">
        <p>Agrega el evento de apertura de inscripciones a tu calendario para no quedarte sin tu dorsal.</p>
		<a class="button" href="/documents/carrera/inscripcion/evento-apertura-inscripciones.ics" title="Agregar evento de apertura de inscripciones al calendario de tu dispositivo">Agregar al calendario</a>
    </div>
</Layout>