---
import HistoricRanking from "../../components/historic-ranking.astro";
import Palmares from "../../components/Palmares.astro";
import Layout from "../../layouts/Layout.astro"

const title = "Ediciones anteriores";
const h1 = "Información sobre las ediciones anteriores";
---

<Layout title={title} h1={h1}>
	<div id="content-block">
		<h2>Ediciones anteriores</h2>
		<!-- <h3>Récords TVS (2016 y 2017)</h3>
		<ul>
			<li><b>Masculino: </b>2h 18' 18" Martín Álvarez Espinar (2016)</li>
			<li><b>Femenino: </b>3h 02' 24" Miriam García Capín (2017)</li>
		</ul>
		<h3>Récords TVS 2.0 (2018)</h3>
		<ul>
			<li><b>Masculino: </b>2h 30' 09" Andrés García Blanco (2018)</li>
			<li><b>Femenino: </b>3h 12' 06" Miriam García Capín (2018)</li>
		</ul>
		<h3>Récords TVS 2.1 (2019)</h3>
		<ul>
			<li><b>Masculino: </b>2h 17' 15" Andrés García Blanco (2019)</li>
			<li><b>Femenino: </b>2h 58' 21" Ana Nogueiro Nogueiro (2019)</li>
		</ul>
		<h3>Récords TVS 2.2 (2022 y 2023)</h3>
		<ul>
			<li><b>Masculino: </b>2h 14' 22" Igor Prieto Jamart (2022)</li>
			<li><b>Femenino: </b>2h 49' 37" Laura Álvarez Álvarez (2022)</li>
		</ul>
		<h3>Récords TVxS (2018)</h3>
		<ul>
			<li><b>Masculino: </b>1h 07' 57" Aitor Llamedo Vigil (2018)</li>
			<li><b>Femenino: </b>1h 27' 35" Cristina Ardisana Molleda (2018)</li>
		</ul>
		<h3>Récords TVxS 1.1 (2019, 2022 y 2023)</h3>
		<ul>
			<li><b>Masculino: </b>1h 09' 29" Borja Fernández Navarro (2022)</li>
			<li><b>Femenino: </b>1h 25' 33" Carolina Pereira Obaya (2023)</li>
		</ul>	-->

		<Palmares />
		<HistoricRanking />
	</div>
</Layout>
