---
import Layout from "../../layouts/Layout.astro";
import type { Link } from "../../types/link";
const title = "Inscripción";
const h1 = "Inscribirme en el Trail Valle de Samuño";

const relatedLinks: Link[] = [
  {
    href: "/informacion/dondedormir",
    title: "Ver los mejores alojamientos de la zona",
    text: "Alojamientos recomendados",
  },
  {
    href: "/informacion/comollegar",
    title: "Ver mapa para conducir a la salida",
    text: "No te pierdas por el camino",
  },  
  {
    href: "/informacion/seguimiento",
    title: "Dónde pueden verte pasar tus amigos y familiares",
    text: "Descubre los mejores sitios para ver la carrera",
  },  
];
---

<Layout title={title} h1={h1} relatedLinks={relatedLinks}>
	<div id="content-block">
		<h2>Inscripción</h2>
		<script type="text/javascript" src="https://inscripciones.empa-t.com/js/iframe/v1/load_iframe.js">
		</script>
		<script is:inline>
		abs('inscription_form', 'trail-valle-de-samuno-2025',
		{"iframe":1,"utm_nooverride":1,"lang":"es","background":"FFFFFF"});
		</script>	
	</div>

	<!-- <iframe data-src="https://inscripciones.empa-t.com/inscripcion/trail-valle-de-samuno-clinica-nalon-dental-2024/" style="width: 100%; border:none;" scrolling="no" id="avaiFrame"><p>Tu navegador no soporta iframes. Por favor, utiliza un navegador compatible para poder ver la información de tu evento.</p><a href="http://inscripciones.empa-t.com/">http://inscripciones.empa-t.com/</a></iframe>
	localScript: "<script type=\"text/javascript\" src=\"http://inscripciones.empa-t.com/js/inscripcion/resizer/js/iframeResizer.min.js\"></script><script type=\"text/javascript\">$(function(){$(\"#avaiFrame\").iFrameResize({log : false,enablePublicMethods  : true});});</script>" -->
</Layout>