---
import type { Link } from "../types/link";

const defaultLinks: Link[] = [
  {
    href: "/carrera/recorrido",
    title: "Ir a la sección de recorridos",
    text: "Descubre nuestros recorridos",
  },
  {
    href: "/carrera/inscripcion",
    title: "Ir a inscribirte en la carrera",
    text: "¡Inscríbete que se agotan!",
  },
  {
    href: "/informacion/dondedormir",
    title: "Ver los mejores alojamientos de la zona",
    text: "Alojamientos recomendados",
  },
];

const { relatedLinks = defaultLinks } = Astro.props;
---

<div id="enlaces-destacados" class="enlaces-destacados">
  <div class="row">
    <h3 class="enlaces-destacados__title">Más sobre Samuño</h3>
    <ul class="noBullets enlaces-destacados__list">
      {
        relatedLinks.map((link: Link) => {
          return (
            <li class="enlaces-destacados__list-item">
              <a href={link.href} title={link.title}>
                {link.text}
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</div>
