---
const { data } = Astro.props;
---
<div class="card race-card">
    <div class="race-card__title">
        <div class="race-card__name">{ data.name }</div>
        <div class="race-card__sponsor">{ data.mainsponsor }</div>
    </div>
    <div class="race-card__data">
        <div>
            { data.date.day } { data.date.monthtext } { data.date.year }
        </div>
        <div>
            Distancia { data.distance }Km
        </div>
        <div>
            Desnivel positivo { data.climb }m
        </div>
    </div>
    <footer>
        <a href="carrera/recorrido.html" title="Ver m치s informaci칩n de la carrera" class="button">M치s informaci칩n</a>
    </footer>
</div>