---
import computePath from "../../../helpers/compute-path";
import Layout from "../../../layouts/Layout.astro"

const title = "2025";
const h1 = "Informaci칩n de la edici칩n de 2025";
---

<Layout title={title} h1={h1}>
	<div id="content-block">
		<h2>2025</h2>
		<h3>Juego</h3>
		<ul>
			<li><a href="../../juego" title="Jugar al Samu침o runner">Samu침o runner</a></li>
		</ul>
		<h3>Imagen corporativa</h3>
		<ul>
			<li><a href="../../documents/edicionesanteriores/2025/imagencorporativa.zip" title="Descargar archivo de imagen corporativa">Imagen corporativa</a></li>
		</ul>
	</div>
</Layout>