---
import computePath from "../../../helpers/compute-path";
import Layout from "../../../layouts/Layout.astro"

const title = "2025";
const h1 = "Información de la edición de 2025";
---

<Layout title={title} h1={h1}>
	<div id="content-block">
		<h2>2025</h2>
		<h3>Cartel</h3>
		<figure class="fotoIzquierda no-float figure">
			<a href={computePath("/images/carrera/edicionesanteriores/2025/cartel2025.avif")} title="Ampliar" class="gallery">		
				<img src={computePath("/images/carrera/edicionesanteriores/2025/cartel2025.avif")} class="figure-img" alt="Cartel del VIII Trail Valle de Samuño celebrado en Langreo (Asturias)" />
			</a>
		</figure>
		<h3>Clasificaciones</h3>
		<ul>
			<li><a href="../../documents/edicionesanteriores/2025/clasificacion-tvxs-2025.pdf" title="Abrir la clasificación TVxS de 2025">Clasificaciones TVxS</a></li>
			<li><a href="../../documents/edicionesanteriores/2025/clasificacion-tvs-2025.pdf" title="Abrir la clasificación TVS de 2025">Clasificaciones TVS</a></li>
			<li><a href="../../documents/edicionesanteriores/2025/clasificacion-gtvs-2025.pdf" title="Abrir la clasificación GTVS de 2025">Clasificaciones GTVS</a></li>
		</ul>				
		<h3>Juego</h3>
		<ul>
			<li><a href="../../juego" title="Jugar al Samuño runner">Samuño runner</a></li>
		</ul>
		<h3>Imagen corporativa</h3>
		<ul>
			<li><a href="../../documents/edicionesanteriores/2025/imagencorporativa.zip" title="Descargar archivo de imagen corporativa">Imagen corporativa</a></li>
		</ul>
	</div>
</Layout>