---
import computePath from "../../../helpers/compute-path";
import Layout from "../../../layouts/Layout.astro"

const title = "2026";
const h1 = "Información de la edición de 2026";
---

<Layout title={title} h1={h1}>
	<div id="content-block">
		<h2>2026</h2>
		<h3>Cartel</h3>
		<figure class="fotoIzquierda no-float figure">
			<a href={computePath("/images/carrera/edicionesanteriores/2026/cartel2026.avif")} title="Ampliar" class="gallery">		
				<img src={computePath("/images/carrera/edicionesanteriores/2026/cartel2026.avif")} class="figure-img" alt="Cartel del IX Trail Valle de Samuño celebrado en Langreo (Asturias)" />
			</a>
		</figure>
		<h3>Clasificaciones</h3>
		<ul>
			<li><a href="../../documents/edicionesanteriores/2026/clasificacion-tvxs-2026.pdf" title="Abrir la clasificación TVxS de 2026">Clasificaciones TVxS</a></li>
			<li><a href="../../documents/edicionesanteriores/2026/clasificacion-tvs-2026.pdf" title="Abrir la clasificación TVS de 2026">Clasificaciones TVS</a></li>
			<li><a href="../../documents/edicionesanteriores/2026/clasificacion-gtvs-2026.pdf" title="Abrir la clasificación GTVS de 2026">Clasificaciones GTVS</a></li>
		</ul>
		<h3>Galerías de fotos</h3>
		<ul>
			<li><a href="./fotos-2026" title="Ir a fotos 2026">Fotos</a></li>
		</ul>						
		<h3>Imagen corporativa</h3>
		<ul>
			<li><a href="../../documents/edicionesanteriores/2026/imagencorporativa.zip" title="Descargar archivo de imagen corporativa">Imagen corporativa</a></li>
		</ul>
	</div>
</Layout>