---
import Layout from "../../../layouts/Layout.astro"

const title = "2026";
const h1 = "Fotografías de la edición de 2026";
---

<Layout title={title} h1={h1}>
	<div id="content-block">
        <h2>Fotografías oficiales 2026</h2>
        <p>Proximamente...</p>

        <h2>Fotos 2026</h2>
        <p>¿Eres fotógrafo/a? Envíamos los enlaces a tus galerías a <a href="mailto:trailvallesamuno@gmail.com" title="Envíanos un correo electrónico con tus enlaces">trailvallesamuno@gmail.com</a></p>
        <h3>Bibscout</h3>
        <ul>
            <li>
                <a href="https://guitarranalon.github.io/siamese-dev/fotos-samuno-2026-con-bibscout/" title="Ver las infografías de carrera de Bibscout">Fotos TVxS y TVS con infografías</a>
            </li>
        </ul>
    </div>
</Layout>