---
import Layout from "../../../layouts/Layout.astro"

const title = "2026";
const h1 = "Fotografías de la edición de 2026";
---

<Layout title={title} h1={h1}>
	<div id="content-block">
        <h2>Fotografías oficiales 2026</h2>
        <p>Próximamente...</p>

        <h3>Fotos 2026</h3>
        <p>¿Eres fotógrafo/a? Envíamos los enlaces a tus galerías a <a href="mailto:trailvallesamuno@gmail.com" title="Envíanos un correo electrónico con tus enlaces">trailvallesamuno@gmail.com</a></p>
        <h4>Bibscout</h4>
        <ul>
            <li>
                <a href="https://guitarranalon.github.io/siamese-dev/fotos-samuno-2026-con-bibscout/" title="Ver las infografías de carrera de Bibscout">Fotos TVxS y TVS con infografías</a>
            </li>
        </ul>
        <h4>Fotos dansolmar</h4>
        <ul>
            <li>
                <a href="https://www.facebook.com/media/set/?vanity=61573593701434&set=a.122181720824786456" title="Ir al álbum">TRAIL VALLE DE SAMUÑO (TVxS) 2026 1ªParte.</a>
            </li>
            <li>
                <a href="https://www.facebook.com/media/set/?vanity=61573593701434&set=a.122181734246786456" title="Ir al álbum">TRAIL VALLE DE SAMUÑO (TVxS) 2026 2ªParte.</a>
            </li>
            <li>
                <a href="https://www.facebook.com/media/set/?vanity=61573593701434&set=a.122181757100786456" title="Ir al álbum">TRAIL VALLE DE SAMUÑO (TVxS) 2026 3ªParte.</a>
            </li>
            <li>
                <a href="https://www.facebook.com/media/set/?vanity=61573593701434&set=a.122181770624786456" title="Ir al álbum">TRAIL VALLE DE SAMUÑO (TVxS) 2026 4ªParte.</a>
            </li>
            <li>
                <a href="https://www.facebook.com/media/set/?vanity=61573593701434&set=a.122181779606786456" title="Ir al álbum">TRAIL VALLE DE SAMUÑO (TVxS) 2026 FINAL</a>
            </li>
        </ul>
        <h4>Fotos de Vanesa San Julián</h4>
        <ul>
            <li>
                <a href="https://www.facebook.com/vanesa.sanjulian/posts/10242195894701827?ref=embed_post" title="Ir a la galería">trail 21km Parte 1</a>
            </li>
            <li>
                <a href="https://www.facebook.com/vanesa.sanjulian/posts/10242195970023710?ref=embed_post" title="Ir a la galería">trail 21km Parte 2</a>
            </li>
            <li>
                <a href="https://www.facebook.com/vanesa.sanjulian/posts/10242196004144563?ref=embed_post" title="Ir a la galería">trail 21km Parte 3</a>
            </li>
        </ul>
        <h4>Fotos de @pabloig8</h4>
        <ul>
            <li>
                <a href="https://www.instagram.com/pabloig8/p/DXXc9fzjChm/?img_index=1" title="Ir a la galería">TVS 2026</a>
            </li>
        </ul>
    </div>
</Layout>