---
import Layout from "../../../layouts/Layout.astro"

const title = "2025";
const h1 = "Información de la edición de 2025";
---

<Layout title={title} h1={h1}>
	<div id="content-block">
        <h2>Fotos 2025</h2>
        <p>¿Eres fotógrafo/a? Envíamos los enlaces a tus galerías a <a href="mailto:trailvallesamuno@gmail.com" title="Envíanos un correo electrónico con tus enlaces">trailvallesamuno@gmail.com</a></p>
        <h3>Carmen Suárez Corujo</h3>
        <ul>
            <li>
                <a href="https://www.facebook.com/carmen.suarezcorujo/posts/2600577220141869?ref=embed_post" title="Ir a la galería">Trail Valle de Samuño 2025 1</a>
            </li>
            <li>
                <a href="https://www.facebook.com/carmen.suarezcorujo/posts/2600595596806698?ref=embed_post" title="Ir a la galería">Trail Valle de Samuño 2025 2</a>
            </li>
            <li>
                <a href="https://www.facebook.com/carmen.suarezcorujo/posts/2600609786805279?ref=embed_post" title="Ir a la galería">Trail Valle de Samuño 2025 3</a>
            </li>
            <li>
                <a href="https://www.facebook.com/carmen.suarezcorujo/posts/2600612666804991?ref=embed_post" title="Ir a la galería">Trail Valle de Samuño 2025 4</a>
            </li>
        </ul>
        <h3>Javier González Rodríguez</h3>
        <ul>
            <li>
                <a href="https://www.facebook.com/javier.gonzalezrodriguez.395/posts/8816460891789229?ref=embed_post" title="Ir a la galería">Trail Valle de Samuño 2025 1</a>
            </li>
            <li>
                <a href="https://www.facebook.com/javier.gonzalezrodriguez.395/posts/8816510141784304?ref=embed_post" title="Ir a la galería">Trail Valle de Samuño 2025 2</a>
            </li>
        </ul>
        <h3>Maríaw</h3>
        <ul>
            <li>
                <a href="https://www.facebook.com/100063774151531/posts/1199231925545935/?rdid=dS1cyaAyxGm4ac5M#" title="Ir a la galería">Trail Valle de Samuño TVxS 2025</a>
            </li>
            <li>
                <a href="https://www.facebook.com/100063774151531/posts/1200020585467069/?rdid=uvCURMva3W7rr9Zu#" title="Ir a la galería">Trail Valle de Samuño TVS 2025</a>
            </li>
        </ul>
        <h3>Pablo Iglesias Tamargo</h3>
        <ul>
            <li>
                <a href="https://www.facebook.com/story.php?story_fbid=1685587298718611&id=100018020718214&rdid=zcXP4j47gFb6OOG2#" title="Ir a la galería">Trail Valle de Samuño TVxS 2025</a>
            </li>
        </ul>
        <h3>Vanesa San Julián</h3>
        <ul>
            <li>
                <a href="https://www.facebook.com/story.php?story_fbid=10236361004433217&id=1473160680&rdid=HGZlataU6mwaRtf4#" title="Ir a la galería">Trail Valle de Samuño 2025 (I)</a>
            </li>
            <li>
                <a href="https://www.facebook.com/vanesa.sanjulian/posts/pfbid02qAhFVmzFNoRuLYeVNygwmFmTvcBzXbpLaXsR4VmhyLRCKkP6MgypUhjCufoMrzmel" title="Ir a la galería">Trail Valle de Samuño 2025 (II)</a>
            </li>
            <li>
                <a href="https://www.facebook.com/story.php?story_fbid=10236361163077183&id=1473160680&rdid=nAj4vfPTmvBtHkkb#" title="Ir a la galería">Trail Valle de Samuño 2025 (III)</a>
            </li>
            <li>
                <a href="https://www.facebook.com/story.php?story_fbid=10236361231318889&id=1473160680&rdid=TxYY6dLIcX3gvuCP#" title="Ir a la galería">Trail Valle de Samuño 2025 (IV)</a>
            </li>
        </ul>
        <h3>Moisés Casal Román</h3>
        <ul>
            <li>
                <a href="https://www.facebook.com/story.php?story_fbid=9866547673376754&id=100000648578092&rdid=sv0lQTNxyz5aOujp#" title="Ir a la galería">Trail Valle de Samuño 2025 TVxS vídeo</a>
            </li>
            <li>
                <a href="https://www.facebook.com/story.php?story_fbid=9866653993366122&id=100000648578092&rdid=oJbDZUUsk46oUC9A#" title="Ir a la galería">Trail Valle de Samuño 2025 TVS vídeo</a>
            </li>
        </ul>
        <h3>Jose Luis Lastra</h3>
        <ul>
            <li>
                <a href="https://www.facebook.com/story.php?story_fbid=24246446984955868&id=100000517113952&rdid=bnEsSnmRQsnK04yW#" title="Ir a la galería">Trail Valle de Samuño 2025</a>
            </li>
        </ul>
        <h3>Thomas Picos</h3>
        <ul>
            <li>
                <a href="https://www.facebook.com/story.php?story_fbid=631501146434296&id=100087232484570&rdid=l6u12je779Cs5WDp#" title="Ir a la galería">VI Trail Valle de Samuño (TVxS)</a>
            </li>
        </ul>
        <h3>Trece Fotografías</h3>
        <ul>
            <li>
                <a href="https://www.facebook.com/story.php?story_fbid=1204249835040706&id=100063671015932&rdid=LSH7tMQ7k2TTYcQv#" title="Ir a la galería">Trail Valle de Samuño 2025 (K13)</a>
            </li>
        </ul>
        <h3>Adri</h3>
        <ul>
            <li>
                <a href="https://www.facebook.com/media/set/?set=a.10236962548028768&type=3" title="Ir a la galería">Fotos de Adri (12 años)</a>
            </li>
        </ul>
        <h3>Roberto Cancio</h3>
        <ul>
            <li>
                <a href="https://www.facebook.com/media/set/?vanity=guitarranalon&set=a.10236971020000562" title="Ir a la galería">Fotos TVxS (2025)</a>
            </li>
        </ul>
    </div>
</Layout>