---
import computePath from "../../../helpers/compute-path";
import Layout from "../../../layouts/Layout.astro"

const title = "2025";
const h1 = "Información de la edición de 2025";
---

<Layout title={title} h1={h1}>
	<div id="content-block">
        <h2>Fotos 2025</h2>
        <p>¿Eres fotógrafo/a? Envíamos los enlaces a tus galerías a <a href="mailto:trailvallesamuno@gmail.com" title="Envíanos un correo electrónico con tus enlaces">trailvallesamuno@gmail.com</a></p>
        <h3>Carmen Suárez Corujo</h3>
        <div class="galeria">
            <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcarmen.suarezcorujo%2Fposts%2Fpfbid0spgVHXRXyJjPAgbqTLHjXLPB1QbvdkBank5JWvoZieW61shnnntovphgdcbJ5Amjl&show_text=true&width=500" width="500" height="645" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>            
        </div>
        <div class="galeria">
            <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcarmen.suarezcorujo%2Fposts%2Fpfbid02xaetjD6kgwNmeyS8FAEq1USxo5DNAvLaS9EPdEznDn9bY7vcFoPoB9Y1hMBXic3Jl&show_text=true&width=500" width="500" height="645" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        </div>
        <div class="galeria">
            <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcarmen.suarezcorujo%2Fposts%2Fpfbid02XrHiQc3uKjMsPD8Ewcy5cYCDw1gY8BARNt2yNt81eGkh2BqHhERbdDXkEnhjRGa1l&show_text=true&width=500" width="500" height="645" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        </div>
        <div class="galeria">
            <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fcarmen.suarezcorujo%2Fposts%2Fpfbid05V8Vr59jj2uRLYKn77b7xaMhS3cVykpV9MsfHQPhEehK5voQiQbQSpWNnbgh2Knpl&show_text=true&width=500" width="500" height="645" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        </div>
        <h3>Javier González Rodríguez</h3>
        <div class="galeria">
            <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fjavier.gonzalezrodriguez.395%2Fposts%2Fpfbid02VNtvnW5pNdSacN1eW8ZfDnTDjrQAcr6vntwT8NaPrvysSkp1Hq9dD8Np4kWDmWfHl&show_text=true&width=500" width="500" height="562" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        </div>
        <div class="galeria">
            <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fjavier.gonzalezrodriguez.395%2Fposts%2Fpfbid02oqGGDcbqV523jYr91HneALo4B8wwpNWztcNNj1YSBqwoNsLm8mc53e4JjLuuRwqtl&show_text=true&width=500" width="500" height="562" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        </div>
    </div>
</Layout>