---
import Layout from "../../../layouts/Layout.astro"

const title = "2025";
const h1 = "Información de la edición de 2025";
---

<Layout title={title} h1={h1}>
	<div id="content-block">
        <h2>Fotos 2025</h2>
        <p>¿Eres fotógrafo/a? Envíamos los enlaces a tus galerías a <a href="mailto:trailvallesamuno@gmail.com" title="Envíanos un correo electrónico con tus enlaces">trailvallesamuno@gmail.com</a></p>
        <h3>Carmen Suárez Corujo</h3>
        <ul>
            <li>
                <a href="https://www.facebook.com/carmen.suarezcorujo/posts/2600577220141869?ref=embed_post" title="Ir a la galería">Trail Valle de Samuño 2025 1</a>
            </li>
            <li>
                <a href="https://www.facebook.com/carmen.suarezcorujo/posts/2600595596806698?ref=embed_post" title="Ir a la galería">Trail Valle de Samuño 2025 2</a>
            </li>
            <li>
                <a href="https://www.facebook.com/carmen.suarezcorujo/posts/2600609786805279?ref=embed_post" title="Ir a la galería">Trail Valle de Samuño 2025 3</a>
            </li>
            <li>
                <a href="https://www.facebook.com/carmen.suarezcorujo/posts/2600612666804991?ref=embed_post" title="Ir a la galería">Trail Valle de Samuño 2025 4</a>
            </li>
        </ul>
        <h3>Javier González Rodríguez</h3>
        <ul>
            <li>
                <a href="https://www.facebook.com/javier.gonzalezrodriguez.395/posts/8816460891789229?ref=embed_post" title="Ir a la galería">Trail Valle de Samuño 2025 1</a>
            </li>
            <li>
                <a href="https://www.facebook.com/javier.gonzalezrodriguez.395/posts/8816510141784304?ref=embed_post" title="Ir a la galería">Trail Valle de Samuño 2025 2</a>
            </li>
        </ul>
        <h3>Maríaw</h3>
        <ul>
            <li>
                <a href="https://www.facebook.com/100063774151531/posts/1199231925545935/?rdid=dS1cyaAyxGm4ac5M#" title="Ir a la galería">Trail Valle de Samuño TVxS 2025</a>
            </li>
        </ul>
    </div>
</Layout>