---
import computePath from "../../../helpers/compute-path";
import Layout from "../../../layouts/Layout.astro"

const title = "2025";
const h1 = "Información de la edición de 2025";
---

<Layout title={title} h1={h1}>
	<div id="content-block">
		<h2>Rankings 2025</h2>
		<table>
			<caption>Finishers de todas las ediciones (2025 inclusive)</caption>
			<thead>
				<tr>
					<th>Atleta</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Cristian Menéndez Pérez</td>
				</tr>
				<tr>
					<td>Agustín González Bobes</td>
				</tr>
			</tbody>
		</table>
        
		<table>
			<caption>Corredores con más TVS (2025 inclusive)</caption>
			<thead>
				<tr>
					<th><abbr title="Posición">Pos</abbr></th>
					<th>Atleta</th>
					<th>Nº veces terminada</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Cristian Menéndez Pérez</td>
					<td>8</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Agustín González Bobes</td>
					<td>8</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Miguel Ángel Menéndez Menéndez</td>
					<td>7</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Rubén Fernández López</td>
					<td>7</td>
				</tr>
				<tr>
					<td>3</td>
					<td>César Jiménez Fernández</td>
					<td>7</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Francisco Javier Baños</td>
					<td>7</td>
				</tr>
				<tr>
					<td>7</td>
					<td>Jennifer Argüelles Mesa</td>
					<td>6</td>
				</tr>
				<tr>
					<td>7</td>
					<td>David Blanco Iglesias</td>
					<td>6</td>
				</tr>
				<tr>
					<td>7</td>
					<td>Alberto Menéndez Regueiro</td>
					<td>6</td>
				</tr>
				<tr>
					<td>7</td>
					<td>Javier Fernández García</td>
					<td>6</td>
				</tr>                
				<tr>
					<td>7</td>
					<td>Isidro González Menéndez</td>
					<td>6</td>
				</tr>
			</tbody>
		</table>
		<table>
			<caption>Corredores con más TVxS (2025 inclusive)</caption>
			<thead>
				<tr>
					<th><abbr title="Posición">Pos</abbr></th>
					<th>Atleta</th>
					<th>Nº veces terminada</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Jennifer Argüelles Mesa</td>
					<td>5</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Agustín González Bobes</td>
					<td>5</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Noel García Meana</td>
					<td>5</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Casiano García Fernández</td>
					<td>5</td>
				</tr>
				<tr>
					<td>1</td>
					<td>José Manuel Gutiérrez Gancedo</td>
					<td>5</td>
				</tr>                
				<tr>
					<td>1</td>
					<td>Rubén García Abreu</td>
					<td>5</td>
				</tr>                
				<tr>
					<td>1</td>
					<td>David Martínez Cortes</td>
					<td>5</td>
				</tr>
			</tbody>
		</table>               
    </div>
</Layout>