---
import Layout from "../../../layouts/Layout.astro"
import HistoricRanking from "../../../components/historic-ranking.astro";

const title = "Ranking hist칩rico";
const h1 = "Ranking hist칩rico del Trail Valle de Samu침o";
---

<Layout title={title} h1={h1}>
	<div id="content-block">
        <h2>Ranking hist칩rico</h2>
        <HistoricRanking />
    </div>
</Layout>
