---
import data from "../../data/main.json";
import tree from "../../data/tree.json";
import computePath from "../helpers/compute-path";
import { isSameRoute, routeIsBaseUrl } from "../helpers/route-comparators";

const { h1 } = Astro.props;

const currentPage = Astro.url.pathname;
---

<header id="header">
	<div class="row">
		<div class="tvs">
			<h1>
				{ routeIsBaseUrl(currentPage) && <span>
					<svg class="icon tvs-logo">
						<use xlink:href={computePath("/images/map.svg#logo-tvs")}></use>
					</svg>
				</span>
				}
				{ !routeIsBaseUrl(currentPage) && <a href={computePath("/")} title="Ir a la página de inicio">
					<svg class="icon tvs-logo">
						<use xlink:href={computePath("/images/map.svg#logo-tvs")}></use>
					</svg>
				</a>
				}
				{ h1 || "Trail Valle de Samuño, la mejor carrera de Asturias" }
			</h1>
			{  
				!routeIsBaseUrl(currentPage) && <div class="nombreCarrera">
					Trail Valle de Samuño - { data.tvs.mainsponsor }
				</div>
			}
			<nav id="main-nav">
				<ul>
					{ tree.pages.map(page => {
						return !page.hideFromMenu &&
							<li class={ isSameRoute(currentPage, page.path) ? "active" : "" }>
								{ isSameRoute(currentPage, page.path) && <span>{ page.name }</span> }
								{ !isSameRoute(currentPage, page.path) && <a href={computePath(page.path)} title={page.title}>{ page.name }</a> }
								{ page.children && <ul>
										{ page.children.map(childPage => {
											return <li class={ isSameRoute(currentPage, childPage.path) ? "active" : "" }>
												{ isSameRoute(currentPage, childPage.path) && <span>{ childPage.name }</span> }
												{ !isSameRoute(currentPage, childPage.path) && <a href={computePath(childPage.path)} title={childPage.title}>{ childPage.name }</a> }												
											</li>
										})}
									</ul>
								}
							</li>
					})}
				</ul>	
			</nav>
			<a class="inscripcion enlaceBoton" href={computePath("/images/carrera/inscripcion.html")} title="Inscribirme en la prueba">
			<svg class="icon inscripcion">
				<use xlink:href={computePath("/images/map.svg#inscripcion-icon")}></use>
			</svg>
			Inscribirme</a>
		</div>
	</div>
</header>