---
import data from "../../data/main.json";
import tree from "../../data/tree.json";

const { h1 } = Astro.props;

const currentPage = Astro.url.pathname;
---

<header id="header">
	<div class="row">
		<div class="tvs">
			<h1>
				{ currentPage === "/" && <span>
					<svg class="icon tvs-logo">
						<use xlink:href="/images/map.svg#logo-tvs"></use>
					</svg>
				</span>
				}
				{ currentPage !== "/" && <a href="/" title="Ir a la página de inicio">
					<svg class="icon tvs-logo">
						<use xlink:href="/images/map.svg#logo-tvs"></use>
					</svg>
				</a>
				}
				{ h1 || "Trail Valle de Samuño, la mejor carrera de Asturias" }
			</h1>
			{  
				currentPage !== '/' && <div class="nombreCarrera">
					Trail Valle de Samuño - { data.tvs.mainsponsor }
				</div>
			}
			<nav id="main-nav">
				<ul>
					{ tree.pages.map(page => {
						return !page.hideFromMenu &&
							<li class={ currentPage === page.path ? "active" : "" }>
								{ currentPage === page.path && <span>{ page.name }</span> }
								{ currentPage !== page.path && <a href={page.path} title={page.title}>{ page.name }</a> }
								{ page.children && <ul>
										{ page.children.map(childPage => {
											return <li class={ currentPage === childPage.path ? "active" : "" }>
												{ currentPage === childPage.path && <span>{ childPage.name }</span> }
												{ currentPage !== childPage.path && <a href={childPage.path} title={childPage.title}>{ childPage.name }</a> }												
											</li>
										})}
									</ul>
								}
							</li>
					})}
				</ul>	
			</nav>
			<a class="inscripcion enlaceBoton" href="/images/carrera/inscripcion.html" title="Inscribirme en la prueba">
			<svg class="icon inscripcion">
				<use xlink:href="/images/map.svg#inscripcion-icon"></use>
			</svg>
			Inscribirme</a>
		</div>
	</div>
</header>