---
import Favicons from "./Favicons.astro";
import Footer from "./Footer.astro";
import FooterScripts from "./FooterScripts.astro";
import ColaboradoresFooter from "./ColaboradoresFooter.astro";
import PatrocinadoresFooter from "./PatrocinadoresFooter.astro";
import ThirdLevelMenu from "./ThirdLevelMenu.astro";
import { emptyBaseUrl, getPathClasses } from "../helpers/get-page-classes";
import mainData from "../../data/main.json";
import "../../sass/site.scss";
import Header from "./Header.astro";
import GoogleTag from "./GoogleTag.astro";
import CookieBanner from "../components/CookieBanner.astro";
import EnlacesDestacados from "../components/EnlacesDestacados.astro";

const { title } = Astro.props;
const { h1 } = Astro.props;
const { localscript } = Astro.props;

const currentPath = Astro.url.pathname;
const pageClass = getPathClasses(currentPath);
---
<!doctype html>
<html lang="es-ES">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0" name="viewport">
   
    <link rel="preload" href="/fonts/montserrat-bold/montserrat-bold-webfont.woff2" as="font" type="font/woff2" crossorigin>

    <GoogleTag />
    <Favicons />
    
    <title>{ title ? title : "Trail Valle de Samuño" } - { mainData.tvs.mainsponsor }</title>
    <meta name="author" content="Roberto Cancio González" />
    <meta content="carrera, montaña, trail, Samuño, running, Asturias" name="keywords" />
    <meta name="description" content="Carrera por montaña por el Valle de Samuño, dentro del Paisaje Protegido de las Cuencas Mineras, que también permite conocer el pozo minero de carbón San Luis" />
    <meta name="geo.placename" content="La Nueva, Langreo, Principado de Asturias, Spain" /> 
    <meta name="geo.position" content="43.2617,-5.6737" />        
  </head>
  <body class={pageClass} data-baseurl={import.meta.env.BASE_URL}>
  <Header h1={h1} />
	<div id="content">
		<div class="row">
      <ThirdLevelMenu />
			<slot />
		</div>
	</div>
    { currentPath !== emptyBaseUrl && (
      <EnlacesDestacados />
    )}
    <PatrocinadoresFooter />
    <ColaboradoresFooter />
    <Footer />
    <FooterScripts />
    <CookieBanner />
    <div set:html={localscript}></div>
  </body>
</html>