---
import patrocinadores from "../../data/patrocinadores.json";
import computePath from "../helpers/compute-path";

const current_page = Astro.url.pathname;
---

{!current_page.endsWith("patrocinadores.html") && !current_page.endsWith("colaboradores.html") && <div id="patrocinadoresFooter">
		<div class="row">
			<ul class="patrocinadores">
				{ patrocinadores.empresas.map(empresa => {
					return <li>
						<a href={empresa.link} title={empresa.linktitle}>
							<img src={computePath(`/images/patrocinadores/${empresa.image}`)} alt={empresa.name} loading="lazy" />
						</a>
					</li>
				})}
			</ul>		
		</div>
	</div>
}