---
import { getThirdLevelMenu } from "../helpers/get-third-level-menu";
import tree from "../../data/tree.json";

const currentPage = Astro.url.pathname;
const currentChildren = getThirdLevelMenu(tree, currentPage);
---

{ currentChildren && <nav id="third-level-nav">
        <ul>
            { currentChildren.map((childPage: any) => {
                return <li class={ currentPage === childPage.path ? "active" : "" }>
                    { currentPage === childPage.path && <span>{ childPage.name }</span> }
                    { currentPage !== childPage.path && <a href={childPage.path} title={childPage.title}>{ childPage.name }</a> }
                </li>
            })}
        </ul>
    </nav>
}
